<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">

	<f:metadata>
		<f:viewParam id="taskId" name="taskId" />
		<f:viewParam id="callbackUrl" name="callbackUrl" />
		<f:event type="preRenderView"
			listener="#{fox.taskForm.startTask(taskId, callbackUrl)}" />
	</f:metadata>

	<ui:define name="form">
		<!-- just complete this task please... -->
	</ui:define>
</ui:composition>