<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<h:head>
		<f:metadata>
			<f:viewParam id="processDefinitionKey" name="processDefinitionKey" />
			<f:viewParam id="callbackUrl" name="callbackUrl" />
			<f:event type="preRenderView"
				listener="#{fox.taskForm.startProcessInstanceByKeyForm(processDefinitionKey, callbackUrl)}" />
		</f:metadata>
		<title>Start Process: #{fox.taskForm.processDefinition.name}</title>
		<h:outputStylesheet name="css/bootstrap.css" />

	</h:head>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid" style="padding: 0;">
				<a class="brand" href="#{callbackUrl}"
					style="margin: 0 0 0 17px; padding: 0;"><img
					src="../../tasklist/resources/img/FoxTasklist_white.png" alt="camunda fox - task list" /></a>
			</div>
		</div>
	</div>
	<h:body>

		<div class="container" style="padding-top: 40px;">
			<div class="page-header">
				<h1>#{fox.taskForm.processDefinition.name}</h1>
			</div>
			<p>Start a new process instance in version:
				#{fox.taskForm.processDefinition.version}</p>
			<h:form id="someform">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="someform:processvariable">Process
							variable <strong>x</strong>
						</label>
						<div class="controls">
							<h:inputText id="processvariable"
								value="#{processVariables['x']}" />
						</div>
					</div>
				</fieldset>
				<h:commandButton class="btn btn-primary" id="submit_button"
					value="start process instance"
					action="#{fox.taskForm.completeProcessInstanceForm()}" />
				<a class="btn" href="#{callbackUrl}">Cancel</a>
			</h:form>
		</div>

	</h:body>
</ui:composition>