<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="WEB-INF/templates/template.xhtml">

	<f:metadata>
		<f:viewParam id="taskId" name="taskId" />
		<f:viewParam id="callbackUrl" name="callbackUrl" />
		<f:event type="preRenderView"
			listener="#{fox.taskForm.startTask(taskId, callbackUrl)}" />
	</f:metadata>

	<ui:define name="form">
		<div class="control-group">
			<label class="control-label">Process variable <strong>x</strong>
				(given in in the start form)
			</label>
			<div class="controls">
				<h:outputText value="#{processVariables['x']}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Process variable <strong>y</strong>
				(added in this task form)
			</label>
			<div class="controls">
				<h:inputText value="#{processVariables['y']}" />
			</div>
		</div>
	</ui:define>
</ui:composition>