<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<h:head>
		<title>Task Form: #{task.name}</title>
		<h:outputStylesheet name="css/bootstrap.css" />
	</h:head>
	<h:body>
		<ui:insert name="metadata" />
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid" style="padding: 0;">
					<a class="brand" href="#{callbackUrl}"
						style="margin: 0 0 0 17px; padding: 0;"><img
						src="../../tasklist/resources/img/FoxTasklist_white.png" alt="camunda fox - task list" /></a>
				</div>
			</div>
		</div>
		<div class="container" style="padding-top: 40px;">
			<div class="page-header">
				<h1>Task Form: #{task.name}</h1>
			</div>
			<h:form id="someform">
				<p>Here you would see the the actual form to work on the task in
					some design normally either matching you task list or your business
					application (or both in the best case).</p>
				<fieldset>
					<ui:insert name="form">here we will see the form</ui:insert>
				</fieldset>
				<h:commandButton class="btn btn-primary" id="submit_button"
					value="task completed" action="#{fox.taskForm.completeTask()}" />
				<a class="btn" href="#{callbackUrl}">Cancel</a>
			</h:form>
		</div>
	</h:body>
</ui:composition>