<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

<h:head>
  <f:metadata>
      <f:viewParam id="processDefinitionKey" name="processDefinitionKey" />
      <f:viewParam id="callbackUrl" name="callbackUrl" />
      <f:event type="preRenderView" listener="#{fox.taskForm.startProcessInstanceByKeyForm(processDefinitionKey, callbackUrl)}" />
    </f:metadata>
  <title>Start Process: #{fox.taskForm.processDefinition.name}</title>
</h:head>
<h:body>
    <h1>#{fox.taskForm.processDefinition.name}</h1>
    <p>Start a new process instance in version: #{fox.taskForm.processDefinition.version}</p>
    <h:form id="someForm">
        <p>Here you see the the actual form to start a new process instance, normally this would be in some design  either matching you task list or your business application (or both in the best case).</p>
        <table>
          <tr>
            <td>Process variable <strong>x</strong>:</td><td><h:inputText value="#{processVariables['x']}" /></td>
          </tr>
          <tr>
            <td></td><td><h:commandButton id="submit_button" value="start process instance" action="#{fox.taskForm.completeProcessInstanceForm()}" /></td>
          </tr>
        </table>
    </h:form>
</h:body>
</ui:composition>